.testPic{
  width:100%;
  height:300px;
  background:url(getImgUrl("/bg/bg-newFundImage.png")) no-repeat;
  background-size: contain;
}
.testPic1{
  width:100%;
  height:300px;
  background:url(getImgUrl("/bg/bg-idCard.png")) no-repeat;
  background-size: contain;
}

